html, body {
	background-color: #ECF0F1;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background: #eee;
}

.todo-text{
	font-size: 15px;
}
.strike {
		  text-decoration: line-through;

		}

.full-block{
	color: white;
	background: #33cccc;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5% auto;
	font-weight: bold;
	font-size: 70px;
}

.half-block{
	color: white;
	background: #adebeb;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 5% auto;
}

