<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	 	<title>To-Do List | Python Practice No. 3</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Loading page icon -->
		<link rel="shortcut icon" href="static/img/favicon.ico">

		<!-- Loading stylesheet -->
		<link href="static/css/style.css" rel="stylesheet">

		<!-- Loading Bootstrap -->		
		<link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Loading Flat UI -->
		<link href="static/css/flat-ui.min.css" rel="stylesheet">
		<link href="static/css/style.css" rel="stylesheet">

		<!-- Loading External stylesheets -->
		<!--link href="http://html5demos.com/css/html5demos.css" rel="stylesheet"-->

		<!-- Loading External scripts -->
		<script src="http://html5demos.com/js/h5utils.js"></script>
	</head>
	<body>
	<br />
 	<div class="container">		
		<div class="col-xs-3"></div>
		<div class="col-xs-6" style="background: white">
			<center>
				<h1 class="full-block" style="word-wrap:break-word;">INSTRUCTION</h1>
				<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">Insert an item in the textbox. Click the Add button or just hit the enter to add the entry.</span>
		          </blockquote>
	      		</div>
	      		<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">Click the list to mark as done. By double clicking the entry, you can edit the item. </span>
		          </blockquote>
	      		</div>
	      		<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">You can click the Check button if done or click the Delete button to remove the entry.</span>
		          </blockquote>
	      		</div>
	      		<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">You can also add simple HTML tags to your likings!</span>
		          </blockquote>
	      		</div>
	      		<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">By refreshing the application, you lose all the data.</span>
		          </blockquote>
	      		</div>
	      		<div class="demo-type-example" style="text-align:left">
		          <blockquote>
		            <span class="demo-text-note">Enjoy! <a href="/">Click Here</a> to go back to the application.</span>
		          </blockquote>
	      		</div>
	      	</center>
  		</div>
	  	<div class="col-xs-3"></div>		
	 	</div><!-- /.container -->
	 	<div class="container">
 		<footer>
	    	<center>
    		<small>
    			created and developed by <a href="https://mage-isdcs.slack.com" target="_blank">mage-isdcs</a>
    		</small>
    	</center>  	
  	</footer>
	</div>
	</body>
</html>